<html>
<head>
    <meta charset="UTF-8">
    <title><%= status %> Error</title>
    <% include common/head.ejs %>
</head>
<body>
    <div class="wrap-404">
        <h1><%= status %> Error</h1>
        <p><%= msg %></p>

        <p>Try refreshing the page,
         if this problem persists then we're already working on it!</p>
    </div>
</body>
</html>