<!DOCTYPE html>
<html>
<head lang="en">
    <title></title>
    <% include common/head.ejs %>
</head>
<body>
    <!-- global variables -->
    <% if (globalVariables) { %>
        <input type="hidden" name="gv_path" value="<%=globalVariables.path%>"/>
    <%}%>
    <!-- end global variables -->
    <% include common/header.ejs %>

    <div class="main ui container">
        <% if (state.state == 'home') { %>
            <% include home.ejs %>
        <% }%>
        <% if (state.state == 'admin') { %>
            <% include admin.ejs %>
        <% }%>
        <% if (state.state == 'entry') { %>
            <% include entry.ejs %>
        <% }%>
        <% if (state.state == 'photo') { %>
            <% include photo.ejs %>
        <% }%>
        <% if (state.state == 'user') { %>
            <% include user.ejs %>
        <% }%>
        <% if (state.state == 'user.login') { %>
            <% include login.ejs %>
        <% }%>
    </div>

    <% include common/message.ejs %>
    <% include common/footer.ejs %>
    <% include common/foot.ejs %>
</body>
</html>