<!-- header -->
<header class="header">
    <div class="header-bd">
        <!-- user -->
        <div class="user-state">
            <div class="user-signed">
                <% if (user.nickname) { %>
                    <a href="/user"><i class="user icon"></i><%= user.nickname %></a>
                    <a href="/user/logout" class="icon-logout"><i class="remove circle outline icon"></i></a>
                <% } %>
                <% if (!user.nickname) { %>
                    <a href="/user/login">登录</a>
                <% } %>
            </div>
        </div>
        <!-- end user -->

        <!-- logo -->
        <a class="logo" href="/">官网内容管理系统</a>
        <!-- end logo -->

        <!-- nav -->
        <nav class="nav">
            <a href="/admin" class="<% if (state.state == 'admin') { %>active<% } %>">文章管理</a>
            <a href="/entry" class="<% if (state.state == 'entry') { %>active<% } %>">创建文章</a>
            <a href="/photo" class="<% if (state.state == 'photo') { %>active<% } %>">成员管理</a>
        </nav>
        <!-- end nav -->
    </div>
</header>
<!-- end header -->